body {
  margin: 0;
  padding: 0;
  box-sizing: border-box black;
  background-color: #fdffcd;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 1.9px;
  border-style: solid;
  border-color: rgb(43, 41, 41);
  padding: 2.3em;
  background-color: #ffebbb;
  max-width: 500px;
  border-radius: 25px;
}
#barraProcura {
  text-align: center;
  margin-top: 10px;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.numero {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  margin-top: -30px;
  margin-bottom:50px ;
  line-height: 1;
  
  
}
.diaHoraLocal {
  text-align: center;
  margin-top: -60px;

}
.condiciones {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: capitalize;
  
}

#github{
  font-size: 11px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: -20px;
}
#celsius-link{
  font-size: 18px;
  margin-right: -22px;
  text-align: center;
  margin-top: 30px;
  position: relative;


  
}
#fahrenheit-link{
  font-size: 18px;
  margin-left: -22px;
  text-align: center;
  margin-top: 20px;
  
  
}
.separador{
  font-size: 20px;
}
.active{

  color:black;
  cursor: default;
  text-decoration: none;
}
.units{
  vertical-align: super;

}

.weather-forecast{
  text-align: center;
}

.weather-forecast-date{
  font-size: 16px;
  opacity: 0.85;

}

.weather-forecast-temperature-min{

  opacity: 0.8;
}

.weather-forecast-temperature{
  font-size: 14px;
}

.row{
  justify-content: center;
  margin-bottom: 30px;
  font-size: 16px;
 text-align: center;
  
}
