body {
  margin: 0;
  padding: 0;
  box-sizing: border-box black;
  background-color: rgb(216, 227, 241);
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 2.5px;
  border-style: solid;
  border-color: black;
  padding: 2.5em;
  background-color: rgb(245, 236, 159);
  max-width: 500px;
  border-radius: 20px;
}
#barraProcura {
  text-align: center;
  margin-top: 5px;
}

.image {
  text-align: center;
  margin-top: -15px;
}
.numero {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-top: -65px;
}
.diaHoraLocal {
  text-align: center;
}
.condiciones {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  text-transform: capitalize;
}
.primero {
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  width: 100%;
  border-right: 5 px black;
}
.segundo {
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  margin-top: 0px;
}
.vl {
  border-left: 3px solid black;
  height: 185px;
  position: absolute;
  left: 50.5%;
  margin-left: -3px;
  margin-top: 0px;
}
#github{
  font-size: 11px;
  text-align: center;
  margin-top: 19px;
  margin-bottom: -20px;
}
